.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.modal-content {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: left;
    background: white;
    padding: 30px;
    border-radius: 8px;
    max-width: var(--navbar-width);
    width: 100%;
    text-align: left;
}
  
.h2.title {
    font-size: 1.5em;
    margin: 0 0 0 0;
    color: #333;
}

.modal-close {
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 24px;
    cursor: pointer;
}

.text {
    margin: 10px 0 10px 0;
    font-size: 1.0em;
    color: #333;
}
  
.modal-link {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #000;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
  
.modal-link:hover {
    background-color: #37393b;
}
  
.tools {
    margin: 0 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: left;
    gap: 8px;
    font-size: 0.8em;
}

.tools strong {
    color: #333;
}