/* Import SF Pro Font */
@import url('https://fonts.googleapis.com/css2?family=SF+Pro:wght@400;600;700&display=swap');

.resume-container {
    max-width: var(--navbar-width);
    background-color: #fff;
    border-radius: 15px;
    width: 90%;
    margin: 30px 0 30px 0;
    padding: 10px 0 30px 0;
    display: flex;
    flex-direction: column;
    }

.resume-card {
    background: white;
    box-shadow: 0 1px 2px 2px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    padding: 20px;
    margin: 20px 30px 0 30px;
}

.resume-header {
    text-align: center;
    margin-bottom: 20px;
}

.resume-header h1 {
    font-size: 2em;
    margin-bottom: 0.2em;
}

.resume-header p {
    font-size: 1em;
    margin: 0.2em 0;
}

.resume-header a {
    color: #000;
    text-decoration: none;
    transition: color 0.3s ease;
}

.resume-header a:hover {
    color: #0056b3; 
}

.resume-section {
    margin-bottom: 20px;
}

.resume-section h2 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
    border-bottom: 2px solid #0f0f0f;
    padding-bottom: 5px;
}

.resume-section p,
.resume-section ul {
    font-size: 1em;
    margin: 0.5em 0;
}

.resume-section ul {
    list-style-type: none;
    padding: 0;
}

.resume-section ul li {
    margin-bottom: 0.5em;
}

.job {
    margin-bottom: 20px;
}

.job h3 {
    font-size: 1.2em;
    margin-bottom: 0.2em;
}

.job p {
    font-size: 1em;
    margin: 0.2em 0;
}

.job ul {
    list-style-type: disc;
    padding-left: 20px;
}

@media (max-width: 768px) {
    .resume-header h1 {
        font-size: 1.5em;
    }
    .resume-section h2 {
        font-size: 1.2em;
    }
    .job h3 {
        font-size: 1.0em;
    }
    .resume-header p {
        font-size: 0.8em;
    }
    .resume-section p {
        font-size: 0.8em;
    }
    .job p {
        font-size: 0.8em;
    }
    .job li {
        font-size: 0.8em;
    }
    .resume-section ul {
        font-size: 0.8em;
    }
}

@media (max-width: 480px) {
    .resume-header h1 {
        font-size: 1.2em;
    }
    .resume-section h2 {
        font-size: 1.0em;
    }
    .job h3 {
        font-size: 0.8em;
    }
    .resume-header p {
        font-size: 0.6em;
    }
    .resume-section p {
        font-size: 0.6em;
    }
    .job p {
        font-size: 0.6em;
    }
    .job li {
        font-size: 0.6em;
    }
    .resume-section ul {
        font-size: 0.6em;
    }
}