.projects-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    background-color: #fff;
    border-radius: 15px;
    font-family: 'SF Pro', sans-serif;
    max-width: var(--navbar-width);
    width: 100%;
    padding: 0 0 20px 0;
    margin: 30px 0 30px 0;
}
  
.project-title {
    font-size: 2.0em;
    margin: 30px 0 10px 40px;
    color: #333;
    text-decoration: underline;
    text-underline-offset: 0.3em;
    text-decoration-thickness: 0.1em;
}
  
.projects-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
}
  
.project-card-large {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    margin: 20px 0 20px 40px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 1px 2px 2px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 476px;
}

.project-card-large:hover {
    background-color: #f0f0f0;
}
  
.project-image-large {
    border-radius: 10px;
    width: 100%;
    height: auto;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
  
.project-details-large {
    text-align: left;
}

.project-title-container {
    display: flex;
    flex-direction: row;
    align-items: start;
}

.expand {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    opacity: 0;
    font-size: 0.8em;
    color: #909090;
    margin: 0;
    transition: opacity 0.3s ease;
}

.arrow {
    opacity: 0;
    color: #909090;
    font-size: 1.0em;
    transition: opacity 0.3s ease;
    rotate: -45deg;
}

.project-card-large:hover .expand {
    opacity: 1;
}

.project-card-large:hover .arrow {
    opacity: 1;
}
  
.project-details-large h3 {
    margin: 0 0 1em 0;
    font-size: 1.5em;
    color: #333;
}
  
.description {
    margin: 0 0 0.5em 0;
    font-size: 1.0em;
    color: #666;
}
  
.project-link-large {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1em;
    color: white;
    background-color: #000;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}
  
.project-link-large:hover {
    background-color: #37393b;
}
  
.tools {
    margin: 0 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: left;
    gap: 8px;
    font-size: 0.8em;
}

.tools strong {
    color: #333;
}