.nav-item {
    display: inline-flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 8px;
    position: relative;
}

.bold {
    background-color: #000;
}

.nav-item:hover {
    background-color: var(--black-8);
}

.nav-text {
    text-decoration: none;
    color: var(--black);
    font-family: var(--nav-item-font-family);
    font-size: var(--nav-item-font-size);
    font-style: var(--nav-item-font-style);
    font-weight: var(--nav-item-font-weight);
    letter-spacing: var(--nav-item-letter-spacing);
    line-height: var(--nav-item-line-height);
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.bold-text {
    color: #fff;
}

.nav-item:hover .bold-text {
    color: #000;
}

.dropdown-arrow {
    transition: transform 0.2s ease-in-out;
  }
  
.nav-item:hover .dropdown-arrow {
    transform: rotate(90deg);
  }