.hero-container {
    display: flex;
    max-width: var(--navbar-width);
    width: 90%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #f0f0f0;
    font-family: 'SF Pro', sans-serif;
}
  
.hero-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    margin: 20px 0 10px 0;
    border-radius: 15px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    max-width: var(--navbar-width);
    width: 100%;
}

.socials {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    height: 35px;
    width: 75px;
    margin: 0 0 30px 30px;
}

.social-link {
    color: #000;
    text-decoration: none;
    transition: color 0.3s ease;
}

.social-img {
    width: 30px;
    height: 30px;
}

.social-img:hover {
    width: 35px;
    height: 35px;
}

  
.hero-text {
    max-width: 650px;
}
  
.hero-text h1 {
    font-size: 2.0em;
    margin: 30px 0 0.2em 30px;
    color: #333;
}
  
.hero-text p {
    font-size: 1.0em;
    margin: 0 0 1em 30px;
    color: #666;
}
  
.hero-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1em;
    color: white;
    background-color: #000;
    border: none;
    border-radius: 8px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}
  
.hero-button:hover {
    background-color: #37393b;
}
  
.hero-image img {
    border-radius: 50%;
    max-width: 200px;
    max-height: 200px;
    min-width: 50px;
    min-height: 50px;
    width: 90%;
    height: 90%;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 30px 0 0;
    aspect-ratio: 1/1;
}
  
.projects {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: top;
    flex-wrap: wrap;
    background: white;
    margin: 10px 10px 20px 10px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: var(--navbar-width);
    width: 100%;
}
  
.project-card {
    display: flex;
    flex-direction: column;
    align-items: left;
    background: white;
    max-width: 516px;
    width: 100%;
    margin: 30px;
}

.project-card h1 {
    font-size: 1.8em;
    margin: 0 0 0.5em 0;
    color: #333;
    text-decoration: underline;
    text-underline-offset: 0.3em;
}

.project-card-content {
    display: flex;
    flex-direction: column;
    align-items: left;
    background: white;
    padding: 20px;
    margin: 10px 0 10px 0;
    border-radius: 15px;
    box-shadow: 0px 1px 2px 2px rgba(0, 0, 0, 0.1);
    max-width: 476px;
    width: 95%;
    text-decoration: none;
}

.project-card-content:hover {
    background-color: #f0f0f0;
}
  
.project-details {
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: center;
}

.project-title-container {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.arrow {
    opacity: 0;
    color: #333;
    font-size: 1.5em;
    transition: opacity 0.3s ease;
    rotate: -45deg;
}

.project-card-content:hover .arrow {
    opacity: 1; 
}

.project-details h3 {
    display: flex;
    justify-content: left;
    font-size: 1.3em;
    margin: 0 0 0.2em 0;
    color: #333;
}

.project-details h4 {
    display: flex;
    justify-content: left;
    font-size: 0.8em;
    margin: 0.2em 0 0.2em 0;
    color: #333;
}

.project-details p {
    display: flex;
    justify-content: left;
    text-align: left;
    font-size: 0.8em;
    margin: 0 0 0.5em 0;
    color: #666;
}

.project-details i p {
    display: flex;
    justify-content: left;
    text-align: left;
    margin: 0 0 0.2em 0;
    color: #666;
}

.tools {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: left;
    margin: 1em 0 0 0;
    gap: 8px;
    font-size: 0.8em;
}

.tools strong {
    color: #333;
}

.skills-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    font-family: 'SF Pro', sans-serif;
    max-width: var(--navbar-width);
    width: 100%;
    margin: 15px 0 15px 0;
}

.skills-container h2 {
    font-size: 1.8em;
    margin: 40px 0 20px 30px;
    color: #333;
    text-decoration: underline;
    text-underline-offset: 0.3em;
    text-decoration-thickness: 0.1em;
}

.skills-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin: 0 0 40px 30px;
    gap: 20px;
}

.skill-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.1);
    width: 30px;
    height: 30px;
    text-align: left;
    gap: 10px;
}

.skill-item:hover {
    background-color: #f0f0f0;
}

.skill-logo {
    width: 30px;
    height: 30px;
}

.title h1 {
    font-size: 2.0em;
}

@media (max-width: 768px) {
    .hero-text h1 {
        font-size: 1.5em;
    }
    .title h1 {
        font-size: 1.5em;
    }
    .project-card h1 {
        font-size: 1.5em;
    }
    .skills-container h2 {
        font-size: 1.2em;
    }
    .project-details h3 {
        font-size: 0.9em;
    }
    .project-details h4 {
        font-size: 0.7em;
    }
    .project-details p {
        font-size: 0.5em;
    }
    .hero-text p {
        font-size: 0.5em;
    }
}

@media (max-width: 480px) {
    .hero-text h1 {
        font-size: 1.2em;
    }
    .title h1 {
        font-size: 1.2em;
    }
    .project-card h1 {
        font-size: 1.2em;
    }
    .skills-container h2 {
        font-size: 1.0em;
    }
    .project-details h3 {
        font-size: 0.8em;
    }
    .project-details h4 {
        font-size: 0.6em;
    }
    .project-details p {
        font-size: 0.4em;
    }
    .hero-text p {
        font-size: 0.4em;
    }
}